body {
    margin: 0;
    color: white;
    text-align: center;
    background-image: url("../Image/backgroundV5.png");
    background-size: cover;
    /*background: black;*/
}
button{
    width: 150px;
    height: 25px;
    color: gold;
    background-color: red;
    border: 0;
}
