body {
    /*position: absolute;*/
    background-image: url("../Image/backgroundV2.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    color: gold;
}

table, tr, td {
    border-collapse: collapse;
    width: 400px;
}

tr, td {
    width: 100px;
    height: 40px;
}

th {
    background: darkgreen;

}

button {
    width: 200px;
    height: 25px;
    text-align: center;
    background-color: darkgreen;
    color: gold;
    border: 0;

}

p {
    text-align: center;
}
input{
    background: none;
}

div{
    margin-top: 480px;
}